<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!-- Line below will be replaced by fragment named 'header' defined in fragments.html template.-->
<header th:replace="fragments :: header"></header>

<!--    No longer need this general error message since added <p> tags with th:error=  for custom messages from Event.java -->
<!--<p th:text="${errorMsg}" style="color:red;"></p>-->

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <!--  Refactor input to allow for @ModelBinding annotation.   -->
            <!--  <input type="text" name="eventName" class="form-control">-->
            <!--  The input line also works w/o (type="text") when you use Thymeleaf attribute (th:field=). -->
            <input type="text" th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <!--   Refactor input to allow for @ModelBinding annotation.   -->
            <!--   <input type="text" name="eventDescription" class="form-control">-->
            <!--  The input line also works w/o (type="text") when you use Thymeleaf attribute (th:field=). -->
            <input type="text" th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <!--  Added Email field to Event.java, along with Validation Annotations per Chptr 15.2, so had to add email
            to the create a new event form page view. -->
            <!--  The input line also works w/o (type="text") when you use Thymeleaf attribute (th:field=). -->
            <input type="text" th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
<!--   Chptr 15.6 Exercies: Model Validation - Added 3 new fields below and also to the Event model and index.html view.-->
    <div class="form-group">
        <label>Location
            <input type="text" th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <br>
    <div class="form-group">
        <label>Registration Required?
            <input type="checkbox" th:field="${event.register}">
        </label>
        <p class="error" th:errors="${event.register}"></p>
    </div>
    <br>
    <div class="form-group">
        <label>Number of Attendees
            <input type="text" th:field="${event.numberOfAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numberOfAttendees}"></p>
    </div>
    <br>
<!-- Chptr 16.2 Enums Practice/Video - Adding a drop-down box with the 4 different enum type value choices. -->
<!--    <div class="form-group">-->
<!--        <label>Type of Event-->
<!--        <select th:field="${event.type}">-->
<!--            <option th:each="type : ${types}" th:value="${type}" th:text="${type.displayName}">-->
<!--            </option>-->
<!--        </select>-->
<!--        </label>-->
<!--    </div>-->
<!--    <br> -->
<!-- Chptr 18.2 - Many-to-One Relationship -Replace EventType with EventCategory.
-->
    <div class="form-group">
        <label>Category
        <select th:field="${event.eventCategory}">
            <option th:each="eventCategory : ${categories}" th:value="${eventCategory.id}" th:text="${eventCategory.name}">
            </option>
        </select>
        </label>
        <p class="error" th:errors="${event.eventCategory}"></p>
    </div>
    <br>
    <!-- the input value='create' is simply what the text will be inside the submit button on the web page.
    Not the same as an attribute name='valueVariable'.-->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>