<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!-- Line below will be replaced by fragment named 'header' defined in fragments.html template.-->
<header th:replace="fragments :: header"></header>


<!-- NOTE: I refactored the view code further down to reflect the same table rows as templates/events/index.html view.-->

<!--<form method="post">-->

<!--        <th:block th:each="event : ${events}">-->
<!--            <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${event.name}"></span>-->
<!--&lt;!&ndash;    Had to remove   class="form-control"    in order for a normal checkbox to display on Chrome.-->
<!--See updated code line below commented off one. &ndash;&gt;-->
<!--&lt;!&ndash;                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">&ndash;&gt;-->
<!--                <input type="checkbox" name="eventIds" th:value="${event.id}">-->

<!--&lt;!&ndash;   Alternatively, you can add      class="form-check-input"    below for similar checkboxes.   &ndash;&gt;-->
<!--&lt;!&ndash;                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-check-input">&ndash;&gt;-->
<!--            </label>-->
<!--            </div>-->
<!--        </th:block>-->
<!--    <br>-->
<!--    <input type="submit" value="Delete" class="btn btn-danger">-->
<!--</form>-->



<!--  Chapter 19 End/Extra: I reformatted my original code to resemble templates/events/index.html view with table rows. -->

<form method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Event Name</th>
        </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td>
                <a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a>
                <input type="checkbox" name="eventIds" th:value="${event.id}">
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>