<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>


<!-- Chptr 18.5.1 Persistence Tags (Creating a ManyToMany Relationship)
        Made a new template to display the view for the EventDetails entity class data fields, as managed by the
        displayEventDetails() controller method on EventController. -->
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${event.id}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${event.eventDetails.description}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${event.eventDetails.contactEmail}"></td>
    </tr>
    <tr>
        <th>Location</th>
        <td th:text="${event.eventDetails.location}"></td>
    </tr>
    <tr>
        <th>Registration Required</th>
        <td th:text="${event.eventDetails.register}"></td>
    </tr>
    <tr>
        <th>Number of Attendees</th>
        <td th:text="${event.eventDetails.numberOfAttendees}"></td>
    </tr>
<!-- My Own Extra: Adding the EventCategory to the events/detail.html view -->
    <tr>
        <th>Event Category</th>
        <td th:text="${event.eventCategory.name}"></td>
    </tr>
<!-- Chptr 18.5.5 ManyToMany Form and DTO - Add Tags row to show the name of tag related to am event using custom
        Tag method .getDisplayName(). (The get() part is assumed by Thymeleaf since inside ${}.) -->
    <tr>
        <th>Tags</th>
        <td>
            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>
        </td>
    </tr>

<!--  NOTE: Not sure if I will add eventCategory.name field to this view template or not. Put here just in case, but commented off. -->
<!--    <tr>-->
<!--        <th>Event Category</th>-->
<!--        <td th:text="${event.eventCategory.name}"></td>-->
<!--    </tr>-->

</table>
<!-- Chptr 18.5.5 ManyToMany and DTO - Add a hyperlink on the EventDetails view.html to allow users to go directly to
        the add-tag form to add/assign a Tag or multiple Tags to that  specific Event. -->
<a th:href="'/events/add-tag?eventId=' + ${event.id}">Add Tag</a>

</body>
</html>