<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!-- Line below will be replaced by fragment named 'header' defined in fragments.html template.-->
<header th:replace="fragments :: header"></header>

<!--Line below prints a message if there are no events entered via the form yet.-->
<p th:unless="${events} and ${events.size()}">No Events!</p>

<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Location</th>
            <th>Registration Required</th>
            <th>Number of Attendees</th>
<!--            <th>Type of Event</th>-->
<!--    Chptr 18.2 Many-to-One - Refactor heading. -->
            <th>Event Category</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
<!--  Added email field to Event.java per Chpter 15.2 validation annotations. Had to add to main events list view here/above. -->
        <td th:text="${event.contactEmail}"></td>
<!--  Added fields per Chptr 15.6 Exercises so had to add to main events list view here and above.    -->
        <td th:text="${event.location}"></td>
        <td th:text="${event.register}"></td>
        <td th:text="${event.numberOfAttendees}"></td>
<!--  Chptr 16.2 Enums Practice/Video - Add enum types to the main events list view here/above (.displayName) ensures user-friendly version prints.-->
<!--        <td th:text="${event.type.displayName}"></td>-->
<!--  Chaptr 18.2 Many-to-One - Refactor above to replace EventType enums with EventCategory database.      -->
        <td th:text="${event.eventCategory.name}"></td>

        <!--  The added table data contains a link that utilizes the individual event's ID for the @GetMapping("edit/{eventId}")
        and the accompanying method,  public String displayEditForm(Model model, @PathVariable int eventId). -->
<!--  NOTE: THE EDIT BUTTON BELOW IS NOT REFACTORED TO RUN VALIDATION CHECKS, OR MAINTAIN PREVIOUSLY ADDED DATA, SO
            MAY NEED TO COMMENT THIS LINE OFF BELOW TO REMOVE THE BUTTON/LINK AS AN OPTION.-->
<!--  NOTE Chpt 17.3: Decided to turn OFF the Edit code from Chapter 14.5 Exercises b/c not sure how to refactor code in
            order to replace EventData with EventRepository database. And also b/c previous additions in Chpt 15/16. -->
<!--        <td>-->
<!--            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>-->
<!--        </td>-->

    </tr>
</table>

</body>
</html>