<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!-- Line below will be replaced by fragment named 'header' defined in fragments.html template.-->
<header th:replace="fragments :: header"></header>

<!--Line below prints a message if there are no events entered via the form yet.-->
<p th:unless="${events} and ${events.size()}">No Events!</p>

<!--Turned off the old code version displaying an <ul> of event names, prior to refactoring as a Table.-->
<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
    </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event}"></td>
            <td th:replace="fragments :: description"></td>
            <td th:replace="fragments :: address"></td>
        </tr>
</table>

</body>
</html>