<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<!--<body class="container">-->
<!-- Chapter 19 End: Replaced body line above to add inline styling to match post authentication page styling.
    Also added inline style=color:red for <p class=errors> lines below. Not sure why it won't implement the styling
    from head fragment like all other pages do. Unless it has to do with the AuthenticationFiltering methods? -->
<body class="container" style="font-size: 18px; color: purple;">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Register" />
</form>
<br>
<p>Already have an account? <a href="/login">Log In</a></p>

</body>
</html>