<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!-- Line below will be replaced by fragment named 'header' defined in fragments.html template.-->
<header th:replace="fragments :: header"></header>

<!--Line below prints a message if there are no event categories entered via the form yet.-->
<p th:unless="${categories} and ${categories.size()}">No Event Categories!</p>


<table class="table table-striped">
    <thead>
    <tr>
        <!-- I had added the ID line to display Category ID heading on the eventCategories/index.html table on the webpage. -->
<!--        <th>Category ID</th>-->
        <th>Category Name</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <!-- I had added the ID line to display  Category ID values in the eventCategories/index.html table on the webpage. -->
<!--        <td th:text="${category.id}"></td>-->
<!--        <td th:text="${category.name}"></td>-->
<!--  Chptr 18.3 One-To-Many: Refactor <td> to include hyperlink to list all Event objects connected to a given EventCategory. -->
        <td><a th:text="${category.name}" th:href = "'/events/?categoryId=' + ${category.id}"></a></td>
    </tr>
</table>

</body>
</html>